/*body {
  background-color: #eee;
}

.container .container {
  float: left;
}

.col-md-12 {
  background-color: white;
}

.panel {
  border-radius: 0;
}

.nav-tabs {
  font-size: .9em;
}

#left {
  margin: 0 20px 20px;
  float: left;
}

#topspacing {
  margin-bottom: 20px;
}*/
.leftmenu {
  float: left;
  width: 10%;
  margin: 5px 10px;
  font-size: .9em;
}

.leftmenu ul {
  list-style: none;
  padding-left: 10px;
}

.leftmenu li {
  line-height: 1.5em;
}

.toprightmenu {
  text-align: right;
  list-style: none;
  margin-right: 20px;
}

p.leftmenu {
  color: black;
}

.leftmenu li {
  color: darkblue;
}

#wikilogo {
  height: 80%;
}
